@page
@model Thor_Bank.Pages._404Model
@{
    Layout = null;
}

<body style="background-color:black">
    
</body>

<head>
    <link rel="stylesheet" href="/css/404.css">
    <script src="/js/404.js"></script>
</head>

<div class="content">
    <canvas class="snow" id="snow"></canvas>
    <div class="main-text">
        <h1>Aw jeez.<br />That page has gone missing.</h1><a class="home-link" href="/index">Hitch a ride back home.</a>
    </div>
    <div class="ground">
        <div class="mound">
            <div class="mound_text">404</div>
            <div class="mound_spade"></div>
        </div>
    </div>
</div>