@page
@model Thor_Bank.Pages.BinancecardModel
@{
}
<body style="background-color:#181a20;">
</body>

<div class="text-center" style="margin-bottom:500px">


    <h5 style="color:white; font-family:verdana; position:relative; right:250px; top:120px" class="display-5">Welcome to the Binance Card</h5>
    <p style="color:white; font-family:Verdana; position:relative; right:170px; top:120px">
        Earn up to 8% BNB cashback every time you make an eligible purchase.
        Learn more about who can apply
    </p>
    <img align="right" style="position:relative; top:-120px; left:160px" class="logo" src="/images/Binance-cardinfo.png" height="40%" width="40%" />
</div>


<div class="row" style="margin-bottom:30px ">
    <div class="col">
        <h2 poste"><i style="color:#f3ba2f; position:relative; left:120px" class="fa-brands fa-google-pay"></i><i style="color:#f3ba2f; position:relative; left:130px" class="fa-brands fa-apple-pay"></i></h2>

    </div>
    <div class="col">
        <h2><i style="color:#f3ba2f;  position:relative; left:170px" class="fa-solid fa-wallet"></i></h2>
    </div>
    <div class="col">
        <h2><i style="color:#f3ba2f;  position:relative; left:170px" class="fa-solid fa-lock"></i></h2>
    </div>
</div>
<div class="row" style="margin-bottom:200px">
    <div class="col">

        <p style="color:white;">Supported by Google Pay and Apple Pay </p>
    </div>
    <div class="col">

        <p style="color:white">Users can review and manage their list of approved <br /> devices to remove old or unrecognised phones, computers <br /> or tablets; as well as receive emails, notifications and <br />security alerts when suspicious activity is detected.</p>
    </div>
    <div class="col">

        <p style="color:white">Users can review and manage their list of approved <br /> devices to remove old or unrecognised phones, computers <br /> or tablets; as well as receive emails, notifications and <br />security alerts when suspicious activity is detected.</p>
    </div>
</div>


<div class="text-center" style="margin-bottom:500px"> 
    <h5 style="color:white; font-family:verdana; position:relative; right:350px; top:170px" class="display-5">Earn up to 8% BNB Cashback <br /> everytime you spend</h5>
    <p style="color:white; font-family:Verdana; position:relative; right:370px; top:170px">
        All your cashback from eligible purchases are <br /> automatically deposited in your Funding Wallet <br /> so you only need to worry about spending your crypto.
    </p>
    <img align="right" style="position:relative; top:-60px; left:160px" class="logo" src="/images/cashback.png" height="40%" width="40%" />
</div>
