@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-color:#181a20;">
    <link rel="stylesheet" href="./css/Index.css">
    <link rel="stylesheet" href="./js/Index.js">
</body>


<style>
    {
        background-color: #061121;
    }

</style>


<div class="text-center" style="margin-bottom:300px">
    <h6 style="color:white; font-family:verdana" class="display-5">The World’s Fastest Growing Crypto Site</h6>
    <h6 style="color:white"><i style="color:#f3ba2f" class="fa-regular fa-circle-check"></i>Join 120M+ users buying and selling 350+ cryptocurrencies at true cost</h6>
    <h6 style="color:white"><i style="color:#f3ba2f" class="fa-regular fa-circle-check"></i>Spend with the Binance Visa Card and get up to 3% back</h6>
    <h6 class="mb-5" style="color:white"><i style="color:#f3ba2f" class="fa-regular fa-circle-check"></i>Grow your assets safely. No Fees on your BTC and many others.</h6>
    <img align="middle" class="logo" src="/images/phone-binance.png" height="30%" width="30%" />

</div>

<div class="text-center" style="margin-bottom:198px">
    <h6 style="color:#f3ba2f" class="display-7">  OUR VISION </h6>
    <h1 style="color:white">Cryptocurrency in</h1>
    <h1 style="color:white">Every Wallet™</h1>
    <h6 class="mb-5" style="color:white"></h6>
    <img align="middle" class="logo" src="/images/Binance_Logo.png" height="30%" width="30%" />
</div>


<h2 style="color:white; margin-bottom:30px">Benefits</h2>
<div class="container text-center text-light">
    <div class="row" style="margin-bottom:30px">
        <div class="col">
            <h2><i style="color:#f3ba2f" class="fa-solid fa-money-bill-trend-up"></i> Low Trading Fees</h2>
            <p>Our platform offers one of the lowest trading fees (< 0.1%) <br /> in the cryptoasset industry.</p>

        </div>
        <div class="col">1
            <h2><i style="color:#f3ba2f" class="fa-solid fa-shield-halved"></i> Secure Storage</h2>
            <p>Most user's funds and assets are safely stored in offline, <br />cold storage facilities.</p>
        </div>
    </div>
    <div class="row" style="margin-bottom:30px">
        <div class="col">
            <h2><i style="color:#f3ba2f" class="fa-solid fa-folder-tree"></i> Diverse Asset Portfolio</h2>
            <p>Buy, trade or sell up to 675+ cryptoassets on Binance with <br /> a growing number of assets added daily.</p>
        </div>
        <div class="col">
            <h2><i style="color:#f3ba2f" class="fa-solid fa-gamepad"></i> Enhanced User Controls</h2>
            <p>Users can review and manage their list of approved <br /> devices to remove old or unrecognised phones, computers <br /> or tablets; as well as receive emails, notifications and <br />security alerts when suspicious activity is detected.</p>
        </div>
        <div class="row" style="margin-bottom:30px">
            <div class="col">
                <h2><i style="color:#f3ba2f" class="fa-solid fa-wallet"></i> Encrypted Wallets</h2>
                <p>Our wallet and personnel infrastructure features no single <br /> point of failure. Advanced security measures, including<br />multisignature and threshold signature schemes (TSS),<br />protects information via secure encryption.</p>
            </div>
            <div class="col">
                <h2><i style="color:#f3ba2f" class="fa-solid fa-fingerprint"></i> Latest Authenticator Tools</h2>
                <p>Binance supports the world’s most secure two-factor<br /> authentication (2FA) tools, including hardware and app- <br /> based methods.</p>
            </div>

        </div>
    </div>



