@page
@model Thor_Bank.Pages.LoginModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/Login.css">
    <script src="/js/Login.js"> </script>
</head>

<body style="background-color:#181a20;">
</body>


<h2>.</h2>
<h4>.</h4>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Untitled</title>
</head>

<body>

    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 style="color:white;">Log in</h2>
                    <p style="color:white;">CHING CHONG MONEY GONE.</p>
                </div>
            </div>
            <div   class="row d-flex justify-content-center">
                <div  class="col-md-6 col-xl-4">
                    <div  class="card mb-5">
                        <div style="background-color:black" class="card-body d-flex flex-column align-items-center">
                            <div style="background-color: black" class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
                                <img src="/images/Binance_Logo.png" width="100%" height="100%">
                                   
                                </svg>
                            </div>
                            <form class="text-center" method="post">
                                <div class="mb-3"><input class="form-control" type="text" name="Username" placeholder="Username" /><label for="Username" >‎</label></div>
                                <div class="mb-3"><input class="form-control" type="Password" name="Password" placeholder="Password" /><label for="Password" >‎</label></div>
                                <div class="mb-3"><button style="background-color: #f0b90b" class="btn btn-danger d-block w-100" type="submit">Login</button></div>
                                <p class="text-muted">Forgot your password?</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>