@page
@model Thor_Bank.Pages.SpotModel
@{
 
}

<head>
    <link rel="stylesheet" href="/css/spot.css">
</head>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_7132f"></div>
    <div class="tradingview-widget-copyright"><span class="blue-text">BTCUSDT Chart</span></a> by Binance</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {
                "width": 980,
                "height": 610,
                "symbol": "BINANCE:BTCEUR",
                "interval": "D",
                "timezone": "BTC/EUR",
                "theme": "DARK",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "withdateranges": true,
                "hide_side_toolbar": false,
                "allow_symbol_change": true,
                "details": true,
                "hotlist": true,
                "calendar": true,
                "news": [
                    "headlines"
                ],
                "studies": [
                    "Volume@tv-basicstudies"
                ],
                "no_referral_id": true,
                "container_id": "tradingview_7132f"
            }
        );
    </script>
</div>
<!-- TradingView Widget END -->